<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">编辑 : {{question.simpleTitle}}</h4>
      </div>
      <div class="modal-body" >
          <form class="form-horizontal" role="form">
              <!-- 选择题 -->
              <div class="select" ng-show="question.type == '选择题'">
                  <div class="form-group">
                      <label class="col-md-2 control-label" for="select-title">题干内容：</label>
                      <div class="col-md-10">
                          <input id="select-title" name="select-title" type="text" placeholder="题干内容" class="form-control input-md" ng-model="question.title">
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-md-2 control-label" >选项内容：</label>
                  </div>

                  <div class="form-group">
                      <label for="optionA" class="col-md-2 control-label">
                          A )
                      </label>
                      <div class="col-md-10">
                          <input id="optionA" name="optionA" type="text" placeholder="" class="form-control input-md" ng-model="question.optionA" required>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="optionB" class="col-md-2 control-label">
                          B )
                      </label>
                      <div class="col-md-10">
                          <input id="optionB" name="optionB" type="text" placeholder="" class="form-control input-md" ng-model="question.optionB" required>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="optionC" class="col-md-2 control-label">
                          C )
                      </label>
                      <div class="col-md-10">
                          <input id="optionC" name="optionC" type="text" placeholder="" class="form-control input-md" ng-model="question.optionC" required>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="optionD" class="col-md-2 control-label">
                          D )
                      </label>
                      <div class="col-md-10">
                          <input id="optionD" name="optionD" type="text" placeholder="" class="form-control input-md" ng-model="question.optionD" required>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-md-2 control-label">答案：</label>
                      <div class="col-md-4">
                          <label class="radio-inline" for="select-answer-a">
                              <input type="radio" name="select-answer-a" id="select-answer-a" value="optionA" checked="checked" ng-model="question.answer"> A
                          </label>
                          <label class="radio-inline" for="select-answer-b">
                              <input type="radio" name="select-answer-b" id="select-answer-b" value="optionB" checked="checked" ng-model="question.answer"> B
                          </label>
                          <label class="radio-inline" for="select-answer-c">
                              <input type="radio" name="select-answer-c" id="select-answer-c" value="optionC" checked="checked" ng-model="question.answer"> C
                          </label>
                          <label class="radio-inline" for="select-answer-d">
                              <input type="radio" name="select-answer-d" id="select-answer-d" value="optionD" checked="checked" ng-model="question.answer"> D
                          </label>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-md-2 control-label">分值：</label>
                      <div class="col-md-4">
                          <input type="number" ng-model="question.score" placeholder="分值" class="form-control" required>
                      </div>
                      <span class="help-button hidden-xs" uib-tooltip="输入这个题目的分值" tooltip-placement="left">?</span>
                  </div>


                  <div class="form-group">
                      <label class="col-md-2 control-label">序号：</label>
                      <div class="col-md-4">
                          <input type="number" ng-model="question.number" placeholder="序号" class="form-control" required>
                      </div>
                      <span class="help-button hidden-xs" uib-tooltip="输入这个题目的序号" tooltip-placement="left">?</span>
                  </div>

              </div>
              <br>
              <br>
              <!-- 简答题 -->
              <div class="simple" ng-show="question.type == '简答题'">

                  <div class="form-group">
                      <label class="col-md-2 control-label" for="question-simple-title">题干内容：</label>
                      <div class="col-md-10">
                          <textarea class="form-control" rows="6"  id="question-simple-title" name="question-simple-title" placeholder="200字以内" ng-model="question.title"></textarea>
                      </div>
                  </div>


                  <div class="form-group">
                      <label class="col-md-2 control-label" for="question-simple-answer">答案：</label>
                      <div class="col-md-10">
                          <textarea class="form-control" rows="6"  id="question-simple-answer" name="question-simple-answer" placeholder="200字以内" ng-model="question.answer"></textarea>
                      </div>
                  </div>


                  <div class="form-group">
                      <label class="col-md-2 control-label" for="question-simple-analysis">解析：</label>
                      <div class="col-md-10">
                          <textarea class="form-control" rows="7"  id="question-simple-analysis" name="question-simple-analysis" placeholder="200字以内" ng-model="question.analysis"></textarea>
                      </div>
                  </div>


                  <div class="form-group">
                      <label class="col-md-2 control-label">分值：</label>
                      <div class="col-md-4">
                          <input type="number" ng-model="question.score" placeholder="分值" class="form-control" required>
                      </div>
                      <span class="help-button hidden-xs" uib-tooltip="输入这个题目的分值" tooltip-placement="left">?</span>
                  </div>


                  <div class="form-group">
                      <label class="col-md-2 control-label">序号：</label>
                      <div class="col-md-4">
                          <input type="number" ng-model="question.number" placeholder="序号" class="form-control" required>
                      </div>
                      <span class="help-button hidden-xs" uib-tooltip="输入这个题目的序号" tooltip-placement="left">?</span>
                  </div>

              </div>
          </form>
      
      </div>
        <div class="alert alert-success fade save-success" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong style="color: #ffffff;"> 保存成功！</strong>
        </div>
        <div class="alert alert-warning fade save-fail" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong style="color: #ffffff;"> 保存失败！</strong>
        </div>
      <div class="modal-footer">
      <button class="btn btn-success" ng-click="updateQuestion()"><i class="glyphicon glyphicon-floppy-save"></i> 保存</button>
        <button type="button" class="btn btn-default" ng-click="$hide()"> 关闭</button>
      </div>
    </div>
  </div>
</div>