<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div id="home" class="container-fluid">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="img/index_Bg1.jpg" alt="方便好用的考试云平台">
                <div id="text">方便好用的考试云平台</div>
                <a href="/register" class="btn home-now">免费注册</a>
            </div>
        </div>
    </div>
    <div id="features" class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12" style="color: black;">
                <h1>产品特色</h1>
            </div>
            <br>
            <div class="col-sm-3 slideanim slide">
                <a href="">
                    <img class="img" src="img/icon_center1.png">
                </a>
                <div class="text1">实时保存</div>
                <div class="text2">实时保存答题记录，不用担心重启、崩溃等现象。</div>
            </div>
            <div class="col-sm-3 slideanim slide">
                <a href="">
                    <img class="img" src="img/icon_center2.png">
                </a>
                <div class="text1">智能判分</div>
                <div class="text2">交卷后立即出分、分析正确率，主观题还可人工阅卷后打分。</div>
            </div>
            <div class="col-sm-3 slideanim slide" >
                <a href="">
                    <img class="img" src="img/icon_center3.png">
                </a>
                <div class="text1">自动分析</div>
                <div class="text2">图表展现最高分、最低分、列表展示每个考试分数。</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/icon_center4.png">
                </a>
                <div class="text1">错题记录</div>
                <div class="text2">在线练习完后自动判分、错题记录。</div>
            </div>
        </div>
    </div>
    <div id="scenes" class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12" style="color: black;">
                <h1>适用场景</h1>
            </div>
            <br>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic1.jpg">
                </a>
                <div class="text1">内部考核</div>
                <div class="text2">入职培训、岗位评级、企业文化普及</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic3.jpg">
                </a>
                <div class="text1">经销商考核</div>
                <div class="text2">产品知识、销售技巧和政策的考核</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic2.jpg">
                </a>
                <div class="text1">培训机构</div>
                <div class="text2">随堂测验、课后作业、模考练习</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic4.jpg">
                </a>
                <div class="text1">招聘考试</div>
                <div class="text2">高效组织校园招聘和社会招聘</div>
            </div>
        </div>
        <br>
    </div>

    <div id="function" class="container-fluid">

        <h1 class="text-center">产品功能</h1>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#exam">关于考试</a></li>
            <li><a data-toggle="tab" href="#practice">关于练习</a></li>
            <li><a data-toggle="tab" href="#record">关于记录</a></li>
        </ul>
        <div class="tab-content text-center">
            <div id="exam" class="tab-pane fade in active">
                <h2>关于考试</h2>
                <div class="col-sm-4">
                    <a href="#!/recently">
                        <img class="img" src="img/function_center_pic3-1.jpg">
                    </a>
                    <div class="text1">最近发布</div>
                    <div class="text2">查看、参加最近发布的考试</div>
                </div>
                <div class="col-sm-4">
                    <a href="#!/simulate-list">
                        <img class="img" src="img/function_center_pic3-3.jpg">
                    </a>
                    <div class="text1">模拟考试</div>
                    <div class="text2">主观题，看完考生所答情况手动评分</div>
                </div>
                <div class="col-sm-4">
                    <a href="#!/record-list">
                        <img class="img" src="img/function_center_pic3-2.jpg">
                    </a>
                    <div class="text1">考试记录</div>
                    <div class="text2">查看个人的考试记录、批改状态</div>
                </div>
                <br>
                <br>
            </div>
            <div id="practice" class="tab-pane fade">
                <div class="col-sm-12 text-center">
                    <h1>关于练习</h1>
                </div>
                <div class="col-sm-4">
                    <a href="#!/practice-list">
                        <img class="img" src="img/function_center_pic1-1.jpg">
                    </a>
                    <div class="text1">在线学习</div>
                    <div class="text2">支持选择题</div>
                </div>
                <div class="col-sm-4">
                    <a href="#!/wrongs">
                        <img class="img" src="img/function_center_pic1-2.jpg">
                    </a>
                    <div class="text1">错题记录</div>
                    <div class="text2">收录错误的题目</div>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0);">
                        <img class="img" src="img/function_center_pic7-3.jpg">
                    </a>
                    <div class="text1">自动评分</div>
                    <div class="text2">自动评分,正确率</div>
                </div>
            </div>
            <div id="record" class="tab-pane fade">
                <h2>测试测试测试</h2>
                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="us" class="container-fluid">
        <div class="container">
            <h3 class="text-center">联系我们</h3>
            <div class="row">
                <div class="col-md-4">
                    <p>喜欢这个系统? 留下联系方式吧.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span>广州</p>
                    <p><span class="glyphicon glyphicon-phone"></span>电话: +00 1515151515</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>邮箱: mail@mail.com</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="姓名" type="text" ng-model="name">
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="邮箱" ng-model="email">
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="备注" rows="5" ng-model="remark"></textarea>
                    <br>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button class="btn pull-right" ng-click="send()">发送</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="col-sm-4">
                <ul>
                    <li class="footer-title"><a>功能</a></li>
                    <li class="footer-txt"><a>试题</a></li>
                    <li class="footer-txt"><a>试卷</a></li>
                    <li class="footer-txt"><a>考试</a></li>
                    <li class="footer-txt"><a>分析</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li class="footer-title"><a>关于我们</a></li>
                    <li class="footer-txt"><a>关于团队</a></li>
                    <li class="footer-txt"><a>联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="scrollToTop" style="display: block;"><i class="fa fa-angle-up"></i></div>
    </footer>
</div>
