<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-dashboard"></i> <a href="index.html">系统管理</a>
			</li>
			<li class="active">
				<i class="fa fa-table"></i> 消息管理
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header with-border">

				<h3 class="box-title">所有消息信息</h3>
				<div class="box-tools">
					<div class="pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<div class="btn-group">
							<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-wrench"></i></button>
							<ul class="dropdown-menu" role="menu" style="left: auto;right: 0px;">
							</ul>
						</div>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>

					<div class="pull-right">
						<div class="has-feedback">
							<input placeholder="搜索" class="form-control pull-right"  name="table_search" ng-model="messageName" type="search" style="width: 200px;" ng-change="search()"/>
							<span class="fa fa-search form-control-feedback"></span>
						</div>
					</div>
				</div>

			</div>
			<div class="box-body" st-table="teachers"  st-pipe="callServer" >
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-md-12">
							<table  class="table table-striped table-hover dataTable" role="grid">
								<thead>
								<tr role="row">
									<th width="150px">序号</th>
									<th width="150px">发送者</th>
									<th width="250px">收到时间</th>
									<th width="250px">查看状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody ng-show="!isLoading">
								<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in messages" role="row">
									<td ng-bind="row.id"></td>
									<td ng-bind="row.username"></td>
									<td ng-bind="row.created"></td>
									<td >
										<span class="badge bg-green" ng-show="row.status =='true'">已查看</span>
										<span class="badge bg-yellow" ng-show="row.status =='false'">未查看</span>
									</td>
									<td>
										<a type="button" class="btn btn-sm btn-info" href="javascript:void(0);"
										   ng-click="showInfoModal(row.id)">
											<i class="fa fa-search"> 查看
											</i>
										</a>
										<a type="button" class="btn btn-sm btn-danger" href="javascript:void(0);"
										   ng-click="delete(row.id)">
											<i class="fa fa-trash"> 删除
											</i>
										</a>
									</td>
								</tr>
								</tbody>
								<tbody ng-show="isLoading">
								<tr role="row">
									<td class="text-center" colspan="12"><h4>加载中 ... </h4></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="12" class="text-center">
										<div st-pagination="" st-items-by-page="10" st-template="components/messages/messages.pagination.html"></div>
									</td>
								</tr>
								</tfoot>
							</table>
							<div class="text-center dataTables_info" ng-show="messages==null && !isLoading">
								没有更多记录
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>