<div class="error-page">
  <h2 class="headline text-yellow"> 401</h2>

  <div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i>请登录后才能使用考试功能。</h3>

    <p>
      你还没有登录哦.
      你可以 <a href="/login"><strong>登录</strong></a> 或尝试使用搜索表单.
    </p>

    <form class="search-form" >
      <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>