<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/index_Bg1.jpg" alt="方便好用的考试云平台">
            <div id="text">方便好用的考试云平台</div>
            <a href="/register" class="btn home-now">免费注册</a>
        </div>
    </div>
    <div id="section1" class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12" style="color: black;">
                <h1>产品特色</h1>
            </div>
            <br>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/icon_center1.png">
                </a>
                <div class="text1">万人同考</div>
                <div class="text2">实时保存答题记录，不用担心重启、崩溃等现象。</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/icon_center1.png">
                </a>
                <div class="text1">万人同考</div>
                <div class="text2">实时保存答题记录，不用担心重启、崩溃等现象。</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/icon_center1.png">
                </a>
                <div class="text1">万人同考</div>
                <div class="text2">实时保存答题记录，不用担心重启、崩溃等现象。</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/icon_center1.png">
                </a>
                <div class="text1">万人同考</div>
                <div class="text2">实时保存答题记录，不用担心重启、崩溃等现象。</div>
            </div>
        </div>
    </div>
    <div id="section2" class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12" style="color: black;">
                <h1>适用场景</h1>
            </div>
            <br>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic1.jpg">
                </a>
                <div class="text1">内部考核</div>
                <div class="text2">入职培训、岗位评级、企业文化普及</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic1.jpg">
                </a>
                <div class="text1">内部考核</div>
                <div class="text2">入职培训、岗位评级、企业文化普及</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic1.jpg">
                </a>
                <div class="text1">内部考核</div>
                <div class="text2">入职培训、岗位评级、企业文化普及</div>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img" src="img/index_center_pic1.jpg">
                </a>
                <div class="text1">内部考核</div>
                <div class="text2">入职培训、岗位评级、企业文化普及</div>
            </div>
        </div>
    </div>
    <div id="section3" class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12" style="color: black;">
                <div id="text">为您提供方便、高效的考试服务</div>
                <a href="/register" class="btn home-now">免费注册</a>
            </div>
        </div>
    </div>
    <footer class="footer">
    	<div class="container">
    		<div class="col-sm-4">
    			<ul>
    				<li class="footer-title"><a>功能</a></li>
    				<li class="footer-txt"><a>试题</a></li>
    				<li class="footer-txt"><a>试卷</a></li>
    				<li class="footer-txt"><a>考试</a></li>
    				<li class="footer-txt"><a>分析</a></li>
    			</ul>
    		</div>
    		<div class="col-sm-4">
    			<ul>
    				<li class="footer-title"><a>关于我们</a></li>
    				<li class="footer-txt"><a>关于团队</a></li>
    				<li class="footer-txt"><a>联系我们</a></li>
    			</ul>
    		</div>
    	</div>
    </footer>
</div>
