<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">考生注意：</h4>
            </div>
            <div class="modal-body" >
                <h4>
                    没有更多题目了！
                    <br>

                    <br>

                    <br>

                    <br>
                </h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="$hide()">确定</button>
            </div>
        </div>
    </div>
</div>