<nav ng-show="pages.length >= 2">
    <ul class="pagination">
        <li>
            <a ng-click="selectPage(1)"> << </a>
        </li>
        <li>
            <a ng-click="selectPage(currentPage - 1)">&lt;</a>
        </li>
        <li>
            <a><page-select></page-select> <span ng-bind="currentPage"></span></a>
        </li>
        <li>
            <a ng-click="selectPage(currentPage + 1)">&gt;</a>
        </li>
        <li><a ng-click="selectPage(numPages)"> >> </a></li>
    </ul>
</nav>